:root {
  --brand-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #212121;
  --grey-color: #757575;
}

body {
  font-family: "Roboto", Courier, monospace;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
  color: currentColor;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.nav-container {
  display: flex;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
p {
  font-weight: 400;
}

/* Logo */

.WebStudio {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-align: right;
  color: var(--brand-color);
  margin-right: 93px;
}

/* menu */
nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  position: relative;
}
.button.active::after {
  content: "";
  position: absolute;
  width: 48px;
  height: 4px;
  left: 0px;
  top: 43px;
  background: var(--brand-color);
  border-radius: 2px;
}

.button {
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--black-color);
  margin-right: 50px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active {
  color: var(--brand-color);
}

.button:hover {
  color: var(--brand-color);
}

/* contacto*/
ul.infocontact {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacto {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--grey-color);
  fill: var(--grey-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacto svg {
  margin-right: 10px;
}

.contacto:hover {
  color: var(--brand-color);
  fill: var(--brand-color);
}

/* Nuestro contenido seccion */

.background {
  height: 600px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/people.jpg");
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.firsttitle {
  width: 696px;
  height: 120px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  /* or 136% */

  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  text-align: center;
}

.buttontitle {
  border: 5px solid var(--brand-color);
  background: var(--brand-color);
  border-radius: 5px;
  font-size: 16px;
  line-height: 1.9;
  font-weight: 700;
  color: var(--white-color);
}

/* backdrop y ventana modal */

.backdrop {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsla(0, 0%, 0%, 0.2);
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 1;
}

.backdrop.is-hidden {
  pointer-events: none;
  opacity: 0;
}

.modal-form {
  background-color: var(--white-color);
  width: 528px;
  height: 581px;
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border-radius: 4px;
  padding: 40px;
  position: absolute;
}

.modal-form.is-hidden {
  transform: translateY(200px);
  opacity: 0;
}

.close-button {
  box-sizing: border-box;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-button:hover {
  color: var(--brand-color);
}

.modal-form h2 {
  font-size: 20px;
  text-align: center;
  margin: 0px 0px 12px 0px;
}

.position {
  position: relative;
}

.modal-style {
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  width: 100%;
  padding-left: 40px;
  margin: 4px 0px 10px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-style:focus,
.modal-style:hover {
  border: 1px solid var(--brand-color);
}

.modal-svg {
  width: 15px;
  height: 14px;
  position: absolute;
  top: 14px;
  left: 15px;
  fill: var(--black-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-style:focus + .modal-svg,
.modal-style:hover + .modal-svg {
  fill: var(--brand-color);
}

textarea {
  display: block;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding-left: 15px;
  margin: 4px 0px 10px 0px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

textarea:focus,
textarea:hover {
  border-color: var(--brand-color);
}

.check {
  position: relative;
  display: block;
  width: 400.62px;
  height: 24px;
  padding-left: 35px;
  margin-bottom: 7px;
  margin-top: 20px;
  color: var(--grey-color);
}

.check-input {
  position: absolute;
  top: 0;
  left: 15px;
  opacity: 0;
}

.check-svg {
  position: absolute;
  width: 16px;
  height: 15px;
  top: 0;
  left: 15px;
  fill: var(--black-color);
  border-radius: 2px;
  pointer-events: none;
}

.check-input:checked + .check-svg {
  background-color: var(--brand-color);
  fill: var(--brand-color);
  background-image: url(../images/icon.svg/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.submit {
  position: absolute;
  display: block;

  background: var(--brand-color);
  border-color: var(--brand-color);
  color: var(--white-color);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  left: 123px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin: 10px 0px 0px 10px;
}

/* beneficios seccion */

.benefits-container {
  display: flex;
  padding-top: 95px;
  justify-content: space-between;
}
.title {
  font-weight: 700;
  line-height: 1.1;
  text-transform: uppercase;
  color: var(--black-color);
  margin: 24px;
}

.text {
  display: block;
  line-height: 1.7;
  /* or 171% */
  color: var(--grey-color);
  margin: 24px;
}

/* A que nos dedicamos seccion */

.secondtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--black-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.image-container {
  position: relative;
}
.image-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: var(--white-color);
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px;
  margin: 0;
}

/* Nuestro equipo */

.background-team {
  background: #f5f4fa;
}
.team-section {
  padding-bottom: 94px;
  display: flex;
  justify-content: space-evenly;
}
.team-images {
  box-sizing: border-box;
  width: 270px;
  height: 428px;
  left: 215px;
  top: 1785px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.person-image {
  display: block;
}
.nametitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  /* identical to box height */
  color: var(--black-color);
}
.description {
  line-height: 1.1;
  color: var(--grey-color);
  text-align: center;
}

.social-icons {
  display: flex;
  gap: 0px;
  padding: 0px 32px;
}

.icon-redes {
  height: 20px;
  width: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-redes {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  border-radius: 50px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-redes:hover {
  background-color: var(--brand-color);
  fill: #eeeeee;
}

/* Nuestros clientes */

.customers {
  padding-bottom: 94px;
  display: flex;
  justify-content: space-evenly;
}

.icon-items {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 94px;
}
.icon-customer {
  box-sizing: border-box;
  width: 170px;
  height: 81px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-svg {
  margin-top: 14px;
  margin-left: 32px;
  fill: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* Color inicial del ícono */
}
.icon-items:hover .icon-svg,
.icon-customer:hover {
  fill: var(--brand-color);
  border-color: var(--brand-color);
  /* Color al hacer hover */
}

/* footer seccion*/

.footer {
  background: #2f303a;
}
.backgrounddate {
  height: 252px;
  padding: 95px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-date {
  margin-left: 20px;
}

address {
  font-style: normal;
  font-weight: 400;
}
.address {
  display: flex;
  line-height: 1.7;
  /* or 171% */
  color: var(--white-color);
}

.style {
  display: flex;
  flex-direction: column;
}
.email,
.secondphone {
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}

.find {
  position: relative;
  right: 160px;
  margin-left: 95px;
}
.find-title {
  font-weight: 700;
  color: var(--white-color);
}

.icon-find {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: rgba(255, 255, 255, 0.1);
  margin: 5px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-find:hover {
  background-color: var(--brand-color);
}

.address-find-container {
  display: flex;
}

.footer-subscription {
  position: relative;
  right: 220px;
}

.subscription {
  position: relative;
  display: block;
}

.input-subscription {
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  left: 815px;
  top: 2787px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: #2f303a;
  outline: none;
  margin-right: 12px;
  color: var(--white-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-subscription:focus,
.input-subscription:hover {
  border-color: var(--brand-color);
}
.button-send {
  position: absolute;
  width: 200px;
  height: 50px;
  background: var(--brand-color);
  color: #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: var(--brand-color);
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 39px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
}
.send-svg {
  margin-left: 20px;
  width: 24px;
  height: 24px;
}

/* Portafolio */
/* Botones menu seccion */

.buttonmenu {
  display: flex;
  padding: 24px;
  justify-content: center;
}
.menu {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: var(--black-color);
  background: #f5f4fa;
  border-radius: 4px;
  border: 0;
  padding: 6px 24px;
  margin-right: 8px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu:hover {
  background-color: var(--brand-color);
  color: var(--white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-active {
  color: var(--white-color);
  background-color: var(--brand-color);
}
/* Imagenes */

.picture-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  padding: 20px;
  padding-bottom: 90px;
}
.picture {
  padding-right: 24px;
  padding-left: 24px;
}
.picture-card {
  position: relative;
  box-sizing: border-box;
  background: var(--white-color);
  border: 1px solid #eeeeee;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.picture-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.poster {
  display: block;
}

.text-image {
  position: absolute;
  top: 0;
  height: 294px;
  width: 370px;
  background: rgba(33, 150, 243, 0.9);
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: var(--white-color);
  padding: 63px 24px;
  transform: translateY(105%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-card:hover .text-image {
  transform: translateY(0%);
  transition: transform 250ms ease;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.animation {
  position: relative;
  overflow: hidden;
}
